<div class="col">
    <p class="aclaracion"> Aclaracion !! </p>
    <p class="info"> Para mejorar su experiencia escriba los nombres en su idioma original (ingles) y con sus respectivas mayusculas ejemplo: Captain America</p>
    <img class="stan-lee" src="https://i.pinimg.com/736x/12/df/6b/12df6bc8e5ab20c0bbd2ce59f3d1fd4c.jpg" alt="Stan lee">
</div>